:root {
    --bg-main: #0f172a;
    --bg-soft: #111827;
    --card-bg: #020617;
    --border-soft: #1e293b;

    --text-main: #e5e7eb;
    --text-muted: #9ca3af;

    --accent: #38bdf8;
}

body {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}

* {
    box-sizing: border-box;
}